<nav class="navbar navbar-expand-lg bg-body-tertiary layout-navbar">
  <div class="container">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>
    <h3 class="d-block navbar-title pt-3 ">{{ title }}</h3>
    <div class="">

      <a href="" class=" navbar-button btn action-button" type="button">
        <i class="bx bx-plus"></i>
        <span>{{ button_title }}</span>
      </a>
    </div>

  </div>
</nav>
