{% extends 'base.html.twig' %}
{% block _header %}
    {{ include('partials/_header_dashboard.html.twig') }}
{% endblock %}
{% block title %}Edit Demande{% endblock %}

{% block content %}
    <h1>Edit Demande</h1>

    {{ include('demande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_index') }}">back to list</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
